/* GENERAL STYLING */

.nav-link {
  text-decoration: none;
  padding: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  color: rgb(34, 33, 33);
  margin-bottom: 60px;
}

.bottom-border {
  border-bottom: 4px solid #333;
  width: 7%;
  margin: 0 auto 35px auto;
}

.display-linebreak {
  white-space: pre-line;
}
/* MOBILE NAVIGATION STYLING */
#mobile-nav ul li a {
  color: #fff;
  text-decoration: none;
}

#mobile-nav ul {
  text-align: center;
}

#mobile-nav ul li {
  padding: 10px 0;
  font-size: 1.4rem;
}

/* SIDE NAVIGATION STYLING */

#side-navigation {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #2b2b2c;
  color: #fff;
}

#side-navigation .sidebar-header {
  text-align: center;
  padding-top: 50px;
}

#side-navigation ul li a {
  padding: 10px 0 10px 35px;
  font-size: 1.5em;
  display: block;
  color: rgb(224, 224, 224);
  text-decoration: none;
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
}

#side-navigation ul {
  margin-top: 150px;
}

#side-navigation ul li a:hover {
  color: rgb(160, 160, 216);
}

/* BANNER STYLNG */
#banner {
  background: url("/assets/anime-banner.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 4px solid rgb(42, 94, 42);
  position: relative;
  height: 400px;
}

#banner-height {
  height: 400px;
}

#overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* TRENDING ANIME STYLING */
#trending-anime {
  background: rgb(236, 233, 233);
  height: 400px;
}

.trending-header {
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  color: #fff;
}

#top-anime {
  margin-top: 80px;
  position: relative;
  top: -400px;
}

#top-anime .card {
  background: rgb(231, 223, 223);
}

.top-anime-title {
  margin: 90px auto 0 auto;
}

.top-anime-title h2 {
  color: black;
}

.anime-card-img {
  height: 330px;
  width: 100%;
}

/* TRENDING TOP MANGA STYLING */
#trending-manga {
  padding: 100px 0;
}

/* HOME PAGE ANIME SEARCH STYLING */
#anime-search {
  padding: 50px 10px;
  height: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* ANIME SEARCH DISPLAY STYLING */
#search-display {
  padding: 100px 0;
  background: rgb(236, 233, 233);
}

/* ANIME VIEW PAGE STYLING */

#anime-left-display {
  margin-bottom: 30px;
}

#anime-view-top {
  padding: 50px 0;
  background: #4f575e;
  border-bottom: 4px solid #767585;
}

#anime-synopsis {
  padding: 40px 0;
}

#anime-synopsis p {
  font-size: 1.3rem;
  line-height: 1.7;
}

#genres {
  margin-top: 30px;
}

.anime-view-card {
  height: 300px;
  width: 100%;
}

#anime-left-display .card img {
  height: 500px;
}

/* REVIEWS CAROUSEL STYLING */

#reviews {
  background: grey;
  padding: 50px 0;
  color: rgb(238, 231, 231);
}

.review-carousel-width {
  width: 100%;
}

.next-btn,
.back-btn {
  border: none !important;
  position: absolute;
  background: none;
}

.next-btn {
  top: 40%;
  right: 0;
}

.back-btn {
  left: 0;
  top: 40%;
}

.outer-slide {
  position: relative;
}

.icon {
  font-size: 1.4rem;
}

/* REVIEWER CARD STYLING */

.review-card p {
  color: black;
  line-height: 1;
}

.card-head {
  background: rgb(98, 191, 235);
  padding: 30px 0;
}

.review-img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.review-card .card-footer {
  color: black;
  text-transform: uppercase;
  text-align: center;
}

.reviewer-name {
  text-align: center;
  color: #000;
  margin-top: 10px;
}

.modal {
  overflow-y: auto !important;
}

.modal-header {
  background: rgb(226, 246, 248);
}

.modal-body {
  position: relative;
  max-height: 500px;
  overflow-y: scroll;
}

.modal-body p {
  line-height: 1.7;
  font-size: 1.4rem;
}

.modal-username {
  margin-left: 20px;
  margin-top: 15px;
  font-size: 1.4rem;
}

.modal-userscore {
  margin-left: auto;
  margin-top: 15px;
  font-size: 1.4rem;
}

/* RELATED ANIME PAGE STYLING */
#related-anime {
  padding: 50px 0;
  margin-bottom: 50px;
}

/* FOOTER STYLING */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #2b2b2c;
  color: #fff;
  padding-left: 300px;
}

/* DESKTOP VIEW */
@media (min-width: 992px) {
  /* GENERAL STYLING */
  .wrapper {
    padding-left: 250px;
  }

  /* BANNER STYLING */
  #banner {
    height: 500px;
    background-size: cover;
  }

  /* TRENDING ANIME */
  .anime-card-img {
    height: 420px;
  }

  .top-anime-title h2 {
    font-size: 4rem;
    margin-top: -30px;
  }

  /* EPISODES CAROUSEL STYLING */
  .icon {
    font-size: 2rem;
  }

  /* ANIME DISPLAY PAGE STYLING */
  #anime-left-display {
    margin-bottom: 0;
  }

  #anime-left-display .card img {
    height: 400px;
  }

  #anime-left-display .card {
    width: 23rem;
  }
}
